@{
    ViewBag.Title = "Mandate of the Inspectorate of Government";
}
<div class=" jumbotron backgroundcontent">
    <h2 class="h2header">@ViewBag.Title</h2>
    <h4 class="h2header">History</h4>
    <p>
        The Inspectorate of Government was initially established by the Inspector General of Government (IGG) Statute in 1988.
        However, with the promulgation of the Uganda Constitution in 1995, the Inspectorate of Government is now entrenched therein
        under chapter 13, which prescribes its mandate, functions and powers and other relevant matters.
    </p>
    <p>
        The Inspectorate of Government is an independent institution charged with the responsibilty of eliminating corruption, abuse
        of authority and of public office. The powers as enshrined in the Constitution and IG Act include to; investigate or cause investigation
        , arrest or cause arrest, prosecute or cause prosecution, make orders and give direction during investigation;
        access and search - enter and inspect premises or property or search a person or bank account or safe deposit box among others.
    </p>

    <hr class="hrbg" />
    <h4 class="h2header">Mandate</h4>
    <p>Promoting just utilization of Public Resources</p>
    <hr class="hrbg" />
    <h4 class="h2header">Mission</h4>
    <p>"To promote Good Governance, Accountability and Rule of Law in Public Office"</p>

    <hr class="hrbg"/>
    <h4 class="h2header">Vision</h4>
    <p>"A Responsive and Accountable Public Sector"</p>

    <hr  class="hrbg"/>
    <h4 class="h2header">Customer Value Proposition</h4>
    <p>The IG undertakes to promote Distributive justice and Administrative Justice to all people</p>

    <hr class="hrbg" />
    <h4 class="h2header">Jurisdiction And Independence Of the Inspectorate Of Government</h4>
    <p>
        Article 226 and 227 of the Constitution provides the Inspectorate of Government with areas of authority and independence.
        The Jurisdiction of the Inspectorate of Government covers officers or leaders whether employed in the public service or not,
        and also such institutions, organizations or enterprises as Parliament may prescribe by law. The office is independent in the
        performance of its functions and is only responsible to Parliament.
    </p>

    <hr class="hrbg" />
    <h4 class="h2header">Functions of The Inspectorate of Government</h4>
    <ul style="list-style:disc;">
        <li>
            To promote and foster strict adherence to the rule of law and principles of natural justice in administration;
        </li>
        <li>
            To eliminate and foster the elimination of corruption, abuse of authority and public office;
        </li>
        <li>
            To promote, efficient and good governance in public offices; subject to provision of the Constitution, to supervise the enforcement
            of the leadership Code of Conduct
        </li>
        <li>
            To enforce the Leadership Code of Conduct
        </li>
        <li>
            To investigate any act, omission, advice, decision or recommendation by a public
            officer or any other authority to which this article applies, taken, made, given or
            done in exercise for admistrative functions;<br />
            and
        </li>
        <li>
            To stimulate public awareness about the values of constitutionalism in general and
            the activities of the office, in particular, through and media and other means it considers appropriate.
        </li>

    </ul>
    <hr class="hrbg" />
</div>