  <div class="row">
      <div class="col-md-3 margin-top-6">
          <div id="sidebar">
              <div id="logo">
                  <h1>
                      <a href="@Url.Action("Index","Home")">
                          <br />
                          Corrupt Free Uganda
                      </a>
                  </h1>
              </div>
              <div id="menu">

                  <ul>
                      <li class="first"><a href="#">How To Access Health Services</a></li>
                      <li><a href="#">How to Report Cases at police post</a></li>
                      <li><a href="#">Traffic Rules</a></li>
                      <li><a href="#">Court Cases</a></li>
                      <li><a href="#">Human Rights</a></li>
                      <li><a href="#">More still to come</a></li>
                  </ul>
              </div>
          </div>
          </div>
      <div class="col-md-9 margin-top-6">
          <div id="content">
              <div><img src="~/Content/images/img08.jpg" alt="" width="800" height="220" /></div>

              <div class="container">
                  <h1 class="title2">Welcome to the portal</h1>
                  <p><strong>Uganda Anti-Corruption Portal</strong> feel free to contribute or have a say in the services offered in governement and private institution <a href="#">Lets here from you</a></p>
                  <h3>Judicial System</h3>
                  <p>There is a high risk of corruption in Uganda's judicial sector, in part due to political interference. About one in six companies indicate the court system is a 
                  major constraint to their ability to do business (ES 2013). Companies do not believe the judiciary is sufficiently independent (GCR 2016-2017); and bribes 
                  and irregular payments in return for favorable judicial decisions are common (GCR 2015-2016). Nearly half of Ugandans perceive the judiciary as corrupt and 
                  also nearly half of those who have come into contact with the courts in the past twelve months indicate having paid a bribe (GCB 2015). Bribery and political 
                  influence in the judiciary is mainly prevalent in the lower courts; the administration of justice is hampered by inadequate funding and staffing (BTI2016). 
                  Ugandan courts generally uphold the sanctity of contracts, though
                 judicial corruption and procedural delays caused by well-connected defendants pose a serious challenge; government agencies are at times reluctant to 
                  honor judicial remedies issued by the courts (ICS 2017). Foreign companies have complained that the legal process favors local companies (ICS 2017). 
                  Access to the court system is more difficult to obtain at the local level (BTI2016). All commercial disputes must first go through a process of mediation to 
                  reduce the backlog in the court system (ICS 2017). The Center of Arbitration for Dispute Resolution (CADER) can assist in this process (ICS 2017). Enforcing 
                  acontract takes significantly less time and costs significantly less than the regional average (DB 2017).</p>
               
              </div>
          </div>
      </div>
      </div>
    <div style="clear: both;">&nbsp;</div>
   