@model Uganda_anti_corruption_portal.ViewModel.DisplayActivityModel

@{
    ViewBag.Title = "Activity";
}


<div class=" jumbotron backgroundcontent">
  
    <div class="row panel" style="background-color:darkgoldenrod;">
        <div class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2>PUBLIC SERVICES IN MOST GOVERNMENT ORGANISATIONS</h2>


            @foreach (var item in Model.Activities)
        {
                <h2>@item.ActivityCateory.NameOfService</h2>
        
        @Html.Partial("_ServicesPartial", item)
      
}
            <div class="btn-group-xs btn-group-toggle float-right">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Activity", new { page = x, category = Model.CurrentCategory }))
            </div>
           

        </div>
    </div>
    </div>
