@model IEnumerable<Uganda_anti_corruption_portal.Models.Case>

@{
    ViewBag.Title = "CivilCases";
}

<div class=" jumbotron backgroundcontent">
    <h2>IG Court Cases</h2>
    <h3>Civil Cases</h3>
    @foreach (var item in Model)
    {
        <div class="card" style="width:90%;">
            <div class="card-body">
                <h5 class="card-title"><b> @item.CaseRef</b></h5>
                <h6 class="card-subtitle"><b> Updated on:</b>  @Html.DisplayFor(modelItem => item.UpdatedDate)</h6>
                <p class="card-text">@item.Description</p>
            </div>
        </div>
    }
</div>